img.wave {
  width: auto;
  height: 400px;
}
@media screen and (max-width: 48em) {
  img.wave {
    overflow: hidden;
    display: none;
  }
}

.about {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img.hand {
  position: absolute;
  bottom: 1rem;
  right: 0;
}

.bottom-section {
  margin: 0 15 rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 48em) {
  .bottom-section {
    align-items: center;
    margin: 3rem calc(3rem + 3vw);
  }
}
h1#animation {
  font-size: 55px;
  display: inline-block;
  color: #ffc009;
  animation-name: change;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes change {
  from {
    color: #ffc009;
  }
  to {
    color: #171f47;
  }
}

.text {
  position: relative;
  width: 40%;
  display: flex;
}

img.person {
  width: 50%;
  position: absolute;
  bottom: 100%;
  right: 0px;
}
.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 30px;
}

h3 {
  font-size: calc(1rem + 1vw);
  line-height: 1.5em;
}
