img.wave {
  width: auto;
  height: 400px;
}

.about {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img.hand {
  position: absolute;
  bottom: 1rem;
  right: 0;
}
