img.wave {
  width: auto;
  height: 400px;
}
@media screen and (max-width: 48em) {
  img.wave {
    overflow: hidden;
    display: none;
  }
}

.about {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img.hand {
  position: absolute;
  bottom: 1rem;
  right: 0;
}

.bottom-section {
  margin: 0 15 rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 48em) {
  .bottom-section {
    align-items: center;
    margin: 3rem calc(3rem + 3vw);
  }
}
h1 {
  font-size: 35px;
  display: inline-block;
}
