.hero-section {
  width: 100vw;
  height: 45vw;
  background-color: #171f47;
  display: flex;
  justify-content: center;
  position: relative;
  color: #f3ebf3;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
}
@media screen and (max-width: 48em) {
  .main-content {
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-size: 100;
  }
}

.left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  line-height: 1.5;
  color: #f3ebf3;
}

@media screen and (max-width: 48em) {
  .left-block {
    width: 100%;
    text-align: center;
    align-items: center;
  }
}
.topic {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9494a4;
  font-weight: 700;
  font-size: calc(0.4rem + 0.4vw);
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

h1.title {
  font-size: calc(2rem + 1vw);
  line-height: 1.2;
  padding: 0.5rem 0;
  color: white;
}
@media screen and (max-width: 48em) {
  h1.title {
    font-size: calc(1rem + 1.5vw);
  }
}

h5.subtext {
  font-size: calc(0.5rem + 0.5 vw);
  color: #c3c2c7;
}
@media screen and (max-width: 48em) {
  h5.subtext {
    font-size: calc(0.5rem + 1vw);
  }
}

.btn {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 20px;
  cursor: pointer;
  font-size: calc(0.5rem + 0.5vw);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
.btn:active {
  transform: scale(0.9);
}
.btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 15px 20px rgba(156, 46, 229, 0.4);
}
@media screen and (max-width: 48em) {
  .btn {
    padding: 0.2rem 1rem;
    background-color: rgba(147, 18, 234, 0.4);
    box-shadow: 0px 15px 20px rgba(107, 25, 161, 0.4);
  }
}

.topic {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(0.5rem + 0.5vw);
  font-weight: 700;
  padding: 0.5rem 1rem;
}
@media screen and (max-width: 48em) {
  .topic {
    font-size: calc(0.4rem + 0.8vw);
  }
}
